<form class="login-form">
  <input
    class="credentials-input-field"
    type="text"
    placeholder="Email"
  >

  <input
    class="credentials-input-field"
    type="password"
    placeholder="Password"
  >

  <button
    class="log-in-button"
    type="button"
    (click)="logInButtonClicked()"
  >
    Log in
  </button>

  <a
    class="forgot-password-link"
    href=""
  >
    Forgot password?
  </a>

  <button
    class="sign-up-button"
    type="button"
    (click)="signUpButtonClicked()"
  >
    Sign up
  </button>
</form>
