html, body {
    padding: 0;
    margin: 0;
    background-color: #F9FBFD;
}

@font-face {
    font-family: gilroy-bold;
    src: url(src/assets/fonts/gilroy/Gilroy-Bold.ttf) format("opentype");
}

@font-face {
    font-family: gilroy-semi-bold;
    src: url(src/assets/fonts/gilroy/Gilroy-Semibold.ttf) format("opentype");
}

@font-face {
    font-family: gilroy-regular;
    src: url(src/assets/fonts/gilroy/Gilroy-Regular.ttf) format("opentype");
}
