<form class="registration-form">
  <h2 class="registration-form-header">
    Registration
  </h2>

  <div class="input-fields">
    <input
      class="first-name-input-field"
      type="text"
      placeholder="First Name"
    >

    <input
      class="last-name-input-field"
      type="text"
      placeholder="Last Name"
    >
  </div>

  <input
    class="credentials-input-field"
    type="text"
    placeholder="Email"
  >

  <input
    class="credentials-input-field"
    type="password"
    placeholder="Password"
  >

<!--  <h5 class="date-of-birth-header">-->
<!--    Date of birth-->
<!--  </h5>-->

  <button
    class="sign-up-button"
  >
    Sign up
  </button>
</form>
